<body class="front">
	<div class="">
		<div class="container-fluid" align="center">
			<div class="signup-box">
				<div class="signup-title">
					Thanks! We'll be in touch soon.!
				</div>
			</div>
		</div>
	</div>
</body> 